{% extends "base.html" %}
{% block title %}Auction Platform{% endblock %}
{% block content %}
  <header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Auction Marketplace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Auctions</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<body>
  <section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        
        <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url({{url_for('static',filename="img/bg-img/hero1.jpg")}});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Medical Services that <br>You can Trust 100%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img bg-overlay-white" style="background-image:url({{url_for('static',filename="img/bg-img/breadcumb3.jpg")}});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Medical Services that <br>You can Trust 100%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->

        <div class="single-hero-slide bg-img bg-overlay-white" style="background-image:url({{url_for('static',filename="img/bg-img/breadcumb1.jpg")}});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Medical Services that <br>You can Trust 100%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="app_link mt-3 mb-3">
      <a class="button" href="{{ url_for('login') }}">Auction Now</a>
    </div>


</section>

  

  </div>
</body>
  {% endblock %}